<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new subject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1>Add new subject</h1>
<p th:text="${message}?${message}:'' " class="red"> </p>
<form action="/add_subject" method="post">
    <input type="text" name="subject" placeholder="subject">
    <button type="submit">Add subject</button>
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>

</html>