<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/resources/css/styles.css">
    <meta name="author" content="Volha Suprun">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<p th:text="${message}?:'Something went wrong. We are already solving this problem. Please try again later'" class="red"></p>
<!-- ErrorMessage -->
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>