<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update subject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1>Update subject</h1>
    <form method="post">
        <!-- <input type="hidden" name="id" th:value="${us.id}"> -->
        <input type="text" name="subject" th:value="${subject.getName()}">
        <button type="submit">Update</button>
    </form>
<div th:insert="blocks/footer :: footer"></div>
</body>

</html>